body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.site-heading-lower{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.mb-3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mainNav{
    background-color: rgba(255, 166, 0, 0.603);
}